.hided {
  width: 0px;
  height: 0px;

  margin: 0px;
  padding: 0px;

  transform: scale(0);

  opacity: 0;

  pointer-events: none;

  transition: transform var(--transition-time) ease-in-out;
  transition: width 0s ease-in-out, height 0s ease-in-out;
}
