button {
  ---color: var(--primary-color);

  background: transparent;
  border: none;

  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  padding-bottom: var(--padding-y);

  cursor: pointer;

  &.secondary {
    ---color: var(--secondary-color);
  }

  &:hover {
    background: var(---color);
    letter-spacing: calc(var(--letter-spacing) * 2 + 1px);

    &,
    &::after,
    &::before {
      color: var(--color-on-hover);
    }

    &::after,
    &::before {
      letter-spacing: var(--letter-spacing);
    }
  }

  &,
  &::after,
  &::before {
    transition: var(--transition);

    color: var(---color);
    font-size: var(--font-size);
    font-family: var(--font-family);
  }

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}
