input[type="text"],
input[type="password"] {
  ---width: var(--input-width);
  ---margin-left: calc(1px + 0.2vw);

  background: transparent;
  outline: none;
  border: none;

  width: var(---width);

  margin-left: var(---margin-left);

  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);

  &::placeholder {
    transition: var(--transition);
  }

  &:hover,
  &:focus {
    ---width: calc(var(--input-width) * 1.05 + 4px);
    margin-left: calc(var(---margin-left) * 1.05 + 2px);
  }

  &.wide {
    width: calc(var(---width) * 2.56 + 32px);
  }
}
