select {
  background: transparent;
  border-radius: 0;
  border: none;
  outline: none;

  margin-bottom: calc(8px + 0.8vh);

  color: var(--primary-color);

  &,
  & option {
    background: rgba(0, 0, 0, 1);

    transition: var(--transition);
    cursor: pointer;
  }

  &:hover {
    letter-spacing: calc(var(--letter-spacing) * 2 + 1px);
  }
}
